.header_container {
    width: 100vw;
    height:10vh;
    background-color: rgb(0, 183, 255);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header_container_dark {
    width: 100vw;
    height:10vh;
    background-color: rgb(129, 129, 129);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    font-size: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 6px;
    margin-left: 20px;
    color: white; 
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0;
    font-size: 20px;
}

.links {
    text-decoration-line: none; 
    color: white; 
}

.page_link {
    margin: 0 10px;
}

.page_link:hover {
    color:rgb(233, 106, 21);
    transition: ease-in;
    transition-duration: 0.17s;
}

ul {
    list-style-type: none;   
}

@media only screen and (max-width: 290px) {
    /* For tablets: */
    .navigation{
        display: flex;
        justify-content: flex-end;
        font-size: 5px;
    }
    .page_link {
        margin: 5px;
    }
    .header_title {
        font-size: 15px;
        text-align: center;
    }
  }

@media only screen and (max-width: 450px) {
    .navigation{
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
    }
    .page_link {
        margin: 5px;
    }
    .header_title {
        font-size: 13px;
        text-align: left;
    }
  }

  @media only screen and (max-width: 1024px) and (min-width: 750px) {
    .navigation{
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
    }
    .page_link {
        margin: 8px;
    }
    .header_title {
        font-size: 40px;
        text-align: left;
    }
  }